<header class="masthead">
  <div class="container">
    <span class="icon">✌</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">Motivi per cui HTML e CSS pu&ograve; farvi dire "che c*zzo". Un elenco di errori, incertezze, e dilemmi spesso frustranti di HTML e CSS</p>
    <p class="lead">Creato da <a href="{{ site.twitter }}">@mdo</a>. Versione in italiano da <a href="https://github.com/aauri">@aauri</a>.</p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ site.twitter }}">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
